@import url('https://fonts.googleapis.com/css?family=Montserrat');

.head{
font-size: 40px;
color: #4d4c4c;
}
.onediv{
padding-top: 50px;
    padding-left, padding-right: 30px;
    text-align: center;
    }
.formspan{
font-weight: 200;
}
.cashbutton{
    width: 30%;
    background-color: #4a4a4a;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}