@import url('https://fonts.googleapis.com/css?family=Montserrat');

.head{
font-size: 40px;
color: #4d4c4c;
}
.onediv{
padding-top: 20px;
    padding-left, padding-right: 30px;
    text-align: center;
    }
.formspan{
font-weight: 200;
font-size: 24px;
}
.cashbutton{
    -webkit-appearance: none;
-moz-appearance;
    border-radius: 10px;
    width: 30%;
    border:none ;
    background-color: #4a4a4a;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    font-weight: 100;
}
.divbutton{
    padding-top: 15px;
}